<!-- Модальное окно -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h2>Выберите статус</h2>
    <select id="statusSelect">
      <option value="">--Выберите--</option>
      <option value="не подписан">не подписан</option>
      <option value="подписан">подписан</option>
      <option value="подписан не полностью">подписан не полностью</option>
    </select>
    <br><br>
    <button id="confirmBtn">Подтвердить</button>
    <button id="cancelBtn">Отмена</button>
  </div>
</div>