{% extends "layout/base.html" %}

{% block title %}План работы{% endblock %}

{% block content %}
<div class="content-container">
    <h1 style="margin-top: 20px;">Поиск ремонтных данных по скважине</h1>
    <!-- Поле ввода и кнопка -->
    <label for="wellNumberInput"></label>
    <input type="text" id="wellNumberInput" placeholder="Введите номер скважины"/>
    <button id="loadDataBtn">Загрузить данные</button>
</div>
<!-- Контейнер для отображения таблицы -->
<div id="tableContainer"></div>

<!-- Модальное окно -->
<div id="myModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>Выберите статус</h2>
        <select id="statusSelect">
            <option value="">--Выберите--</option>
            <option value="не подписан">не подписан</option>
            <option value="подписан">подписан</option>
            <option value="подписан не полностью">подписан не полностью</option>
        </select>
        <br><br>
        <button id="confirmBtn">Подтвердить</button>
        <button id="cancelBtn">Отмена</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Подключение внешнего JS файла -->
<script src="/static/js/plan.js"></script>

{% endblock %}
