<!-- templates/base.html -->
{% extends "layout/base.html" %}

{% block title %}Главная{% endblock %}


<body>
{% block content %}
<div class="content-container">
    <head>
        <meta charset="UTF-8"/>
        <h1 style="margin-top: 20px;">Поиск ремонтных данных по скважине</h1>
    </head>

    <!-- Поле ввода и кнопка -->
    <input type="text" id="wellNumberInput" placeholder="Введите номер скважины"/>
    <button id="loadDataBtn">Загрузить данные</button>
</div>
<!-- Контейнер для отображения таблицы -->
<div id="tableContainer"></div>

{% block scripts %}
<!-- Подключение внешнего JS файла -->
<script src="/static/js/plan.js"></script>

{% endblock %}
{% endblock %}
</body>
</html>