/* Немного стилизации для формы входа */
#login-container {
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
}
#logoutBtn {
    margin-top: 20px;
}