/* static/css/repair_gis.css */

.content-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#loading {
    font-size: 18px;
    color: #555;
}

#repairs {
    width: 100%;
    border-collapse: collapse;
}

#repairs th, #repairs td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;

}

#repairs th {
    background-color: #f2f2f2;
}