.tooltip {
    cursor:pointer;
}

.tooltiptext{
    cursor: alias;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.filter-container {
    margin-bottom: 20px;
}

#columnFilter, #valueFilter {
    margin-right: 10px;
}

button {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {background-color: #f1f1f1;}


