/* Немного стилизации для формы входа */
#login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f8f9ff;
}
#logoutBtn {
    margin-top: 10px;
}

/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#dataTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
}
#dataTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.modal {
  /*position: fixed;*/
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* В случае переполнения */
  background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
}

/* Центрирование содержимого */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Центр по вертикали и горизонтали */
  padding: 20px;
  border-radius: 5px;
  width: 400px; /* ширина окна */
}

/* Кнопка закрытия (крестик) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}


/* Общие стили для модального окна */
#myModal {
  display: none; /* по умолчанию скрыто */
  position: fixed; /* фиксированное позиционирование */
  top: 50%; /* по вертикали по центру */
  left: 50%; /* по горизонтали по центру */
  transform: translate(-50%, -50%); /* смещение для центрирования */
  width: 500px; /* четкая ширина */
  height: 500px; /* четкая высота */
  background-color: #fff; /* фон окна */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* тень для выделения */
  padding: 20px; /* внутренние отступы */
  box-sizing: border-box; /* чтобы padding не влиял на размеры */
  z-index: 1000; /* чтобы было поверх других элементов */
}

/* Можно добавить стили для затемнения фона при открытом окне (опционально) */
#modalOverlay {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  z-index:999;
}



  /* Заголовок */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Кнопка закрытия */
  .close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  /* Формы и элементы */
  label {
    display: block;
    margin-top: 10px;
  }

  input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin-top:4px;
    box-sizing: border-box;
  }

  button {
    margin-top:20px;
    padding:10px 20px;
    cursor:pointer;
  }