/* Немного стилизации для формы входа */
#login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f8f9ff;
}
#logoutBtn {
    margin-top: 10px;
}

/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#dataTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
}
#dataTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* В случае переполнения */
  background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
}

/* Центрирование содержимого */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Центр по вертикали и горизонтали */
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* ширина окна */
}

/* Кнопка закрытия (крестик) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}